<form [formGroup]="fourthFormGroup">
    <div class="form-grid3">
        <mat-form-field>
            <mat-label>Clase Contratista:</mat-label>
            <mat-select formControlName="claseContratista">
                <mat-option *ngFor="let tipo of tiposContratista" [value]="tipo.value">
                    {{tipo.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="centered-container">
        <div class="centered-content">
            <h3>Consulta de Contratista</h3>
            <mat-form-field>
                <mat-label>Digite el documento del contratista</mat-label>
                <input matInput formControlName="documentoContratista">
            </mat-form-field>
            <h3>Información del Contratista</h3>
            <ng-container *ngIf="datosContratista">
                <p *ngFor="let dato of datosContratistaArray">
                    {{dato.label}}: {{dato.value}}
                </p>
            </ng-container>
        </div>
    </div>
    <div class="btn-container">
        <button mat-raised-button matStepperPrevious color="primary">Atrás</button>
        <button mat-raised-button matStepperNext color="primary" [disabled]="!fourthFormGroup.valid">Guardar y Continuar</button>
    </div>
</form>