<form [formGroup]="form">
  <div class="border">
    <div class="title">
      <h3>Cláusulas y Parágrafos</h3>
    </div>
    <div formArrayName="clausulas">
      <div *ngFor="let clausula of clausulas.controls; let i = index" [formGroupName]="i" class="clausula-container">
        <div class="form-grid2">
          <div class="clausula-select">
            <mat-form-field>
              <mat-label>Cláusula</mat-label>
              <mat-select formControlName="index">
                <!-- Opciones del select -->
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-grid1">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="descripcion">
            </mat-form-field>
          </div>
        </div>
        <div formArrayName="paragrafos" class="paragrafo-container">
          <div *ngFor="let paragrafo of getParagrafos(clausula).controls; let j = index" [formGroupName]="j" class="paragrafo-item">
            <div class="btn-container3">
              <p>Parágrafo {{j + 1}}: {{paragrafo.get('nombre')?.value}}</p>
              <button mat-icon-button color="primary" (click)="eliminarParagrafo(i, j)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="btn-container3">
          <button mat-raised-button color="primary" (click)="abrirDialogoParagrafo(i)">Agregar Parágrafo</button>
          <button mat-icon-button color="primary" (click)="eliminarClausula(i)" *ngIf="clausulas.length > 1">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="btn-container2">
      <button mat-raised-button color="primary" (click)="agregarClausula()">Agregar Cláusula</button>
    </div>
  </div>
  <div class="btn-container">
    <button mat-raised-button matStepperPrevious color="primary">Atrás</button>
    <button mat-raised-button color="primary">Ver
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-raised-button matStepperNext color="primary">Guardar y Continuar</button>
  </div>
</form>