.form-grid1 {
    display: grid;
}

.form-grid2 {
    display: grid;
    grid-template-columns: minmax(100px, 35%) minmax(0, 65%);
    gap: 20px;
    margin-top: 2%;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.btn-container2 {
    display: flex;
    justify-content: flex-start;
}

.btn-container3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.clausula-select {
    align-self: start;
    width: 100%;
}

.clausula-select mat-form-field {
    width: 100%;
}

.paragrafo-container {
    display: flex;
    flex-direction: column;
}

.paragrafo-item {
    display: flex;
    flex-direction: column;
}