.container-principal {
  padding: 20px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.close-button {
  padding: 0;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-title {
  margin: 5px 0;
  text-align: center;
  padding: 8px;
  background-color: #731514;
  border-radius: 5px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.descripcion-field {
  flex: 3;
}

.cantidad-field,
.valor-unitario-field,
.valor-total-field {
  flex: 1;
}

mat-dialog-actions {
  padding: 0;
}
