<div class="container">
  <p>Gestión Contractual / <b>Contratos</b></p>
  <mat-card>
    <mat-card-header>
      <mat-card-title><b>Documentos</b></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="actions">
        <button mat-button color="primary">
          Descargar Todo <mat-icon> insert_drive_file</mat-icon>
        </button>
      </div>

      <div class="content">
        <div class="tab-buttons">
          @for (tab of tabs; track tab; let i = $index) {
            <button
              class="tab-button"
              [ngClass]="{ selected: selectedTab === i }"
              (click)="selectTab(i)"
              >
              {{ tab }}
            </button>
          }
        </div>

        <div class="main-content">
          @if (selectedTab === 0) {
            <div class="pdf-container">
              @if (isLoading) {
                <div class="loading-shade">
                  <mat-spinner></mat-spinner>
                </div>
              }
              <app-pdf-visualizador
                [base64Document]="documentos.minuta"
              ></app-pdf-visualizador>
            </div>
          }
          @if (selectedTab === 1) {
            <div class="pdf-container">
              @if (isLoading) {
                <div class="loading-shade">
                  <mat-spinner></mat-spinner>
                </div>
              }
              <app-pdf-visualizador
                [base64Document]="documentos.documentos_precontractuales"
              ></app-pdf-visualizador>
            </div>
          }
          @if (mostrarBotones) {
            <mat-dialog-actions class="footer-buttons" align="center">
              @if (mostrarBotonRechazo()) {
                <button
                  mat-raised-button
                  color="primary"
                  (click)="abrirModalRechazo()"
                  >
                  Rechazar Contrato
                </button>
              }
              <button
                mat-raised-button
                color="primary"
                (click)="abrirModalCargarArchivo()"
                >
                {{ textos.accion }}
              </button>
            </mat-dialog-actions>
          }
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
