<h1>Registrar Contrato</h1>
<mat-stepper [linear]="isLinear" #stepper labelPosition="bottom">
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Información de Contrato</ng-template>
        <app-paso-info-general />
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Garantía y Mecanismos de Cobertura del Riesgo</ng-template>
        <app-paso-garantias />
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Información Solicitante y Supervisor</ng-template>
        <app-paso-supervisores />
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
        <ng-template matStepLabel>Información Contratista</ng-template>
        <app-paso-contratistas />
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup">
        <ng-template matStepLabel>Información Presupuestal</ng-template>
        <app-paso-info-presupuestal />
    </mat-step>
    <mat-step [stepControl]="sixthFormGroup">
        <ng-template matStepLabel>Objeto de Contrato</ng-template>
        <app-paso-objeto />
    </mat-step>
</mat-stepper>