<div appInView (inView)="onInView($event)">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center fondo-acento-50 mb-4 mt-lg">
        <div>
          <mat-icon>monetization_on</mat-icon>
        </div>
        <div class="mx-3">
          <h2>Información Presupuestal</h2>
          Detalles del presupuesto
        </div>
      </div>
      <form [formGroup]="form">
        <div class="border">
          <div class="title">
            <h3>Disponibilidades Presupuestales Asociadas</h3>
          </div>
          <div class="form-grid3">
            <mat-form-field appearance="outline">
              <mat-label>Vigencia:</mat-label>
              <mat-select formControlName="vigencia">
                <mat-option
                  *ngFor="let vigencia of vigencias"
                  [value]="vigencia.value"
                >
                  {{ vigencia.viewValue }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>event</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Número de la Disponibilidad (CDP):</mat-label>
              <mat-select formControlName="cdp">
                <mat-option>Ninguna Seleccionada</mat-option>
                <mat-option *ngFor="let cdp of cdps" [value]="cdp.value">
                  {{ cdp.viewValue }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>list_alt</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Valor Acumulado:</mat-label>
              <input matInput formControlName="valorAcumulado" />
              <mat-icon matSuffix>monetization_on</mat-icon>
            </mat-form-field>
          </div>
          <div *ngIf="isLoading" class="spinner-container">
            <mat-spinner diameter="50"></mat-spinner>
          </div>

          <div class="table-container rounded-table table-scroll">
            <table
              mat-table
              [dataSource]="selectedCDP"
              *ngIf="selectedCDP.length != 0 && !isLoading"
              class="custom-table"
            >
              <ng-container
                *ngFor="let columna of cdpConstructorTabla"
                [matColumnDef]="columna.columnDef"
              >
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ columna.header }}</b>
                </th>

                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  [ngClass]="{ 'even-row': i % 2 === 0 }"
                >
                  <ng-container
                    *ngIf="columna.columnDef as colDef"
                    [ngSwitch]="colDef"
                  >
                    <div *ngSwitchCase="'acciones'">
                      <button
                        mat-icon-button
                        color="warn"
                        (click)="eliminarCDP(element)"
                        matTooltip="Eliminar CDP"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>

                    <span *ngSwitchDefault>{{ columna.cell(element) }}</span>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="tablaCdpColumnas"></tr>
              <tr mat-row *matRowDef="let row; columns: tablaCdpColumnas"></tr>
            </table>
          </div>

          <div class="btn-container">
            <button
              *ngIf="selectedCDP.length != 0"
              mat-raised-button
              (click)="guardarListaCDP()"
              color="primary"
            >
              Guardar
            </button>
          </div>
        </div>
        <div class="border">
          <div class="title">
            <h3>Información Presupuestal</h3>
          </div>
          <div class="form-grid2">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de Moneda:</mat-label>
              <mat-select formControlName="tipoMoneda">
                <mat-option *ngFor="let moneda of monedas" [value]="moneda.Id">
                  {{ moneda.Nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>attach_money</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Valor de Contrato en Pesos:</mat-label>
              <input
                matInput
                formControlName="valorContrato"
                (keydown)="onlyNumbers($event)"
              />
              <mat-icon matPrefix>money</mat-icon>
            </mat-form-field>
            <div>
              <p>
                Asegúrate de escoger la opción correcta, ya que esta acción no
                se puede deshacer.
              </p>
              <mat-checkbox>Reversar saldos</mat-checkbox>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Ordenador Gasto:</mat-label>
              <mat-select formControlName="ordenadorGasto">
                <mat-option
                  *ngFor="let ordenador of ordenadores"
                  [value]="ordenador.id"
                >
                  {{ ordenador.rol }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>person</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nombre Ordenador:</mat-label>
              <input matInput formControlName="nombreOrdenador" />
              <mat-icon matPrefix>badge</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Tipo Gasto:</mat-label>
              <mat-select formControlName="tipoGasto">
                <mat-option *ngFor="let gasto of gastos" [value]="gasto.Id">
                  {{ gasto.Nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>category</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Origen Recursos:</mat-label>
              <mat-select formControlName="origenRecurso">
                <mat-option
                  *ngFor="let origen_recurso of origen_recursos"
                  [value]="origen_recurso.Id"
                >
                  {{ origen_recurso.Nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>source</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Origen Presupuesto:</mat-label>
              <mat-select formControlName="origenPresupuesto">
                <mat-option
                  *ngFor="let origen_presupuesto of origen_presupuestos"
                  [value]="origen_presupuesto.Id"
                >
                  {{ origen_presupuesto.Nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>account_balance</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Tema Gasto Inversión:</mat-label>
              <mat-select formControlName="temaGasto">
                <mat-option
                  *ngFor="let tema_gasto of tema_gasto"
                  [value]="tema_gasto.Id"
                >
                  {{ tema_gasto.Nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>trending_up</mat-icon>
            </mat-form-field>
            <ng-container *ngIf="showCambioMonedaFields">
              <mat-form-field appearance="outline">
                <mat-label>Valor Moneda Extranjera:</mat-label>
                <input
                  matInput
                  formControlName="monedaExtranjera"
                  (keydown)="onlyNumbers($event)"
                />
                <mat-icon matPrefix>euro</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Valor de Tasa Cambio:</mat-label>
                <input
                  matInput
                  formControlName="tasaCambio"
                  (keydown)="onlyNumbers($event)"
                />
                <mat-icon matPrefix>currency_exchange</mat-icon>
              </mat-form-field>
            </ng-container>
            <mat-form-field appearance="outline">
              <mat-label>Medio de Pago:</mat-label>
              <mat-select formControlName="medioPago">
                <mat-option
                  *ngFor="let medios_pago of medios_pago"
                  [value]="medios_pago.Id"
                >
                  {{ medios_pago.Nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>credit_card</mat-icon>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="checked"
              >Sujeto a Registro Presupuestal (Hasta Agotar
              Presupuesto)</mat-checkbox
            >
          </div>
          <div class="full-width-field">
            <div class="title-box">Forma de Pago:</div>
            <app-editor-enriquecido
              formControlName="formaPago"
              placeholder="Ingrese la forma de pago"
            ></app-editor-enriquecido>
          </div>
        </div>
        <div class="btn-container">
          <button
            mat-stroked-button
            style="border: 1px solid var(--md-primary-500)"
            color="primary"
            matStepperPrevious
          >
            <mat-icon>arrow_back</mat-icon>
            Volver
          </button>
          <button
            mat-raised-button
            (click)="guardarYContinuar()"
            color="primary"
            [disabled]="!form.valid || isLoading"
          >
            <mat-icon>save</mat-icon>
            Guardar y Continuar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
