.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.form-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 2%;
}

.form-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2%;
}

mat-table mat-cell,
mat-table mat-header-cell {
    border: 1px solid;
}

mat-table {
    padding-bottom: 2%;
}

.full-width-field {
    width: 100%;
}

.full-width {
    width: 100%;
}

.title-box {
    background-color: rgb(100, 21, 21);
    color: white;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}
