<form [formGroup]="form">
  <div class="border">
    <div class="title">
      <h3>Disponibilidades Presupuestales Asociadas</h3>
    </div>
    <div class="form-grid3">
      <mat-form-field>
        <mat-label>Vigencia:</mat-label>
        <mat-select formControlName="vigencia">
          <mat-option *ngFor="let vigencia of vigencias" [value]="vigencia.value">
            {{vigencia.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Número de la Disponibilidad (CDP):</mat-label>
        <mat-select formControlName="cdp">
          <mat-option *ngFor="let cdp of cdps" [value]="cdp.value">
            {{cdp.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Valor Acumulado:</mat-label>
        <input matInput formControlName="valorAcumulado">
        <mat-icon matSuffix>monetization_on</mat-icon>
      </mat-form-field>
    </div>
    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z4" *ngIf="dataSource.length !=0 && !isLoading">
            <ng-container matColumnDef="vigencia">
                <mat-header-cell *matHeaderCellDef> Vigencia </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.vigencia}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="solicitudNecesidad">
                <mat-header-cell *matHeaderCellDef> Solicitud de Necesidad </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.num_sol_adq}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numeroCDP">
                <mat-header-cell *matHeaderCellDef> Número de Disponibilidad </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.numero_disponibilidad}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef> Valor $ (En Pesos) </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.valor_contratacion}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dependencia">
                <mat-header-cell *matHeaderCellDef> Dependencia </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre_dependencia}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="rubro">
                <mat-header-cell *matHeaderCellDef> Rubro </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
            </ng-container>

          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
          </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
    <div class="btn-container">
      <button *ngIf="dataSource.length !=0" mat-raised-button (click)="eliminarUltimoRegistroDataCDP()" color="warn">Eliminar último Registro</button>
      <button *ngIf="dataSource.length !=0" mat-raised-button color="primary">Guardar</button>
    </div>
  </div>
    <div class="border">
        <div class="title">
            <h3>Información Presupuestal</h3>
        </div>
        <div class="form-grid2">
            <mat-form-field>
                <mat-label>Tipo de Moneda:</mat-label>
                <mat-select formControlName="tipoMoneda">
                    <mat-option *ngFor="let moneda of monedas" [value]="moneda.Id">
                        {{moneda.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Valor de Contrato en Pesos:</mat-label>
                <input matInput formControlName="valorContrato" (keydown)="onlyNumbers($event)">
            </mat-form-field>
            <mat-checkbox (change)="toggleInputOrdenador()">Ordenador Encargado</mat-checkbox>
            <mat-checkbox>Reversar saldos</mat-checkbox>
            <mat-form-field *ngIf="habilitarInput">
                <mat-label>Resolución:</mat-label>
                <input matInput formControlName="resolucion">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Ordenador Gasto:</mat-label>
                <mat-select formControlName="ordenadorGasto">
                    <mat-option *ngFor="let ordenador of ordenadores" [value]="ordenador.Id">
                        {{ordenador.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nombre Ordenador:</mat-label>
                <input matInput formControlName="nombreOrdenador">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tipo Gasto:</mat-label>
                <mat-select formControlName="tipoGasto">
                    <mat-option *ngFor="let gasto of gastos" [value]="gasto.Id">
                        {{gasto.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Origen Recursos:</mat-label>
                <mat-select formControlName="origenRecurso">
                    <mat-option *ngFor="let origen_recurso of origen_recursos" [value]="origen_recurso.Id">
                        {{origen_recurso.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Origen Presupuesto:</mat-label>
                <mat-select formControlName="origenPresupuesto">
                    <mat-option *ngFor="let origen_presupuesto of origen_presupuestos" [value]="origen_presupuesto.Id">
                        {{origen_presupuesto.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tema Gasto Inversión:</mat-label>
                <mat-select formControlName="temaGasto">
                    <mat-option *ngFor="let tema_gasto of tema_gasto" [value]="tema_gasto.Id">
                        {{tema_gasto.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container *ngIf="showCambioMonedaFields">
                <mat-form-field>
                    <mat-label>Valor Moneda Extranjera:</mat-label>
                    <input matInput formControlName="monedaExtranjera" (keydown)="onlyNumbers($event)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Valor de Tasa Cambio:</mat-label>
                    <input matInput formControlName="tasaCambio" (keydown)="onlyNumbers($event)">
                </mat-form-field>
            </ng-container>

            <mat-form-field>
                <mat-label>Medio de Pago:</mat-label>
                <mat-select formControlName="medioPago">
                    <mat-option *ngFor="let medios_pago of medios_pago" [value]="medios_pago.Id">
                        {{medios_pago.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="checked">Sujeto a Registro Presupuestal (Hasta Agotar Presupuesto)</mat-checkbox>
        </div>
        <div class="full-width-field">
            <div class="title-box">Forma de Pago:</div>
            <mat-form-field appearance="fill" class="full-width">
                <textarea matInput rows="5" placeholder="Ingresa tu texto aquí"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="btn-container">
        <button mat-raised-button matStepperPrevious color="primary">Atrás</button>
        <button mat-raised-button matStepperNext color="primary">Guardar y Continuar</button>
    </div>
</form>
