<div class="border">
  <div class="d-flex align-items-center fondo-acento-50 mb-4 mt-lg">
    <div>
      <mat-icon>settings</mat-icon>
    </div>
    <div class="mx-3">
      <h2>Especificaciones Técnicas</h2>
      Especificaciones Técnicas del contrato
    </div>
  </div>

  <div class="btn-container">
    <button
      mat-raised-button
      color="primary"
      (click)="openModalEspecificacion()"
    >
      <mat-icon>add_circle</mat-icon> Añadir Especificación
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="abrirModalCargarArchivo()"
    >
      <mat-icon>file_upload</mat-icon> Cargue Masivo
    </button>
    <button mat-raised-button color="primary" (click)="obtenerPlantilla()">
      Descargar plantilla <mat-icon> insert_drive_file</mat-icon>
    </button>
  </div>

  <div class="form-grid1" class="mat-elevation-z4">
    <table mat-table [dataSource]="especificaciones" class="full-width-table">
      <ng-container matColumnDef="item">
        <mat-header-cell *matHeaderCellDef> ITEM </mat-header-cell>
        <mat-cell *matCellDef="let especificacion; let i = index">{{
          i + 1
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </mat-header-cell>
        <mat-cell *matCellDef="let especificacion">
          {{ especificacion.descripcion }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef> CANTIDAD </mat-header-cell>
        <mat-cell *matCellDef="let especificacion">
          {{ especificacion.cantidad }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="valorUnitario">
        <mat-header-cell *matHeaderCellDef> VALOR UNITARIO </mat-header-cell>
        <mat-cell *matCellDef="let especificacion">
          {{ especificacion.valor_unitario }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="valorTotal">
        <mat-header-cell *matHeaderCellDef> VALOR TOTAL </mat-header-cell>
        <mat-cell *matCellDef="let especificacion">
          {{ especificacion.valor_total }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> ACCIONES </mat-header-cell>
        <mat-cell *matCellDef="let especificacion; let i = index">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editarEspecificacion(i)">
              <mat-icon class="edit-icon">edit</mat-icon>
              <span>Editar Especificación</span>
            </button>
            <button mat-menu-item (click)="preguntarConfirmacionEliminacion(i)">
              <mat-icon class="delete-icon">delete</mat-icon>
              <span>Eliminar Especificación</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
</div>

<div class="btn-container">
  <button
    mat-stroked-button
    style="border: 1px solid var(--md-primary-500)"
    color="primary"
    matStepperPrevious
  >
    <mat-icon>arrow_back</mat-icon>
    Volver
  </button>
  <button mat-raised-button matStepperNext color="primary">
    <mat-icon>save</mat-icon>
    Guardar y Continuar
  </button>
</div>
