<form [formGroup]="form">
    <div class="border">
        <div class="title">
            <h3>Garantías y Mecanismos de Cobertura del Riesgo</h3>
        </div>
        <div class="form-grid1">
            <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="amparo">
                    <mat-header-cell *matHeaderCellDef> AMPARO </mat-header-cell>
                    <mat-cell *matCellDef="let filaFormGroup">
                        <mat-form-field>
                            <mat-select [formControl]="filaFormGroup.get('amparo')">
                                <mat-option *ngFor="let amparo of amparos" [value]="amparo.Id">
                                    {{amparo.Nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="suficiencia">
                    <mat-header-cell *matHeaderCellDef> SUFICIENCIA </mat-header-cell>
                    <mat-cell *matCellDef="let filaFormGroup">
                        <mat-form-field *ngIf="filaFormGroup.get('suficienciaPorcentaje').enabled">
                            <input matInput [formControl]="filaFormGroup.get('suficienciaPorcentaje')" 
                            placeholder="Porcentaje (%) -> 10%"
                            (keydown)="onlyNumbersFrom1To100($event, filaFormGroup.get('suficienciaPorcentaje').value)"/>
                        </mat-form-field>
                        <mat-form-field *ngIf="filaFormGroup.get('suficienciaSalarios').enabled">
                            <input matInput [formControl]="filaFormGroup.get('suficienciaSalarios')"
                            placeholder="Cantidad de SMLV"
                            (keydown)="onlyPositiveIntegers($event, filaFormGroup.get('suficienciaSalarios').value)"/>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </mat-header-cell>
                    <mat-cell *matCellDef="let filaFormGroup">
                        <mat-form-field>
                            <input matInput [formControl]="filaFormGroup.get('descripcion')" placeholder="Descripción"/>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef> ACCIONES </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index">
                        <button mat-icon-button (click)="eliminarFila(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <div class="btn-container">
                <button mat-raised-button color="primary" (click)="agregarFila()">Agregar Registro</button>
            </div>
        </div>
    </div>
    <div class="btn-container">
        <button mat-raised-button matStepperPrevious color="primary">Atrás</button>
        <button mat-raised-button matStepperNext color="primary" [disabled]="!form.valid">Guardar y Continuar</button>
    </div>
</form>