.form-grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

.form-grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 1rem;
}


.full-width-table {
  width: 100%;
  min-width: 800px;
}

.mat-elevation-z8 {
  position: relative;
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

td.mat-column-acciones {
  width: 60px;
  text-align: center;
}

td.mat-column-activo {
  width: 80px;
  text-align: center;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.icon {
  color: rgb(100, 21, 21) !important;
}
