.mat-column-vigencia {
  font-size: 9.5pt;
}

.mat-column-tipoContratoId {
  font-size: 9.5pt;
}

.mat-column-tipo_persona {
  font-size: 9.5pt;
}

.mat-column-numero_contrato {
  font-size: 9.5pt;
}

.mat-column-contratista {
  font-size: 9.5pt;
}

.mat-column-fecha_registro {
  font-size: 9.5pt;
}

.mat-column-fecha_aprobado {
  font-size: 9.5pt;
}

.mat-column-estado {
  font-size: 9.5pt;
}

.mat-column-acciones {
  font-size: 9.5pt;
}
