<plantilla-tarjeta-contenedora
  [title]="'Consultar Contrato'"
  [contenido]="contenidoDePlantilla"
></plantilla-tarjeta-contenedora>

<ng-template #contenidoDePlantilla>
  <form [formGroup]="form" (ngSubmit)="consultar()">
    <div class="row mt-4">
      <mat-form-field class="col-12 col-md-6 col-lg-4" appearance="outline">
        <mat-label>Unidad Ejecutora</mat-label>
        <mat-icon matIconPrefix>business</mat-icon>
        <mat-select formControlName="unidadEjecucion">
          <mat-option
            *ngFor="let unidad_ejecucion of unidadEjecucion"
            [value]="unidad_ejecucion.Id"
          >
            {{ unidad_ejecucion.Nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md-6 col-lg-4" appearance="outline">
        <mat-label>Vigencia</mat-label>
        <mat-icon matPrefix>calendar_today</mat-icon>
        <mat-select formControlName="vigencia">
          <mat-option
            *ngFor="let vigencia of vigencia"
            [value]="vigencia.Nombre"
          >
            {{ vigencia.Nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md-6 col-lg-4" appearance="outline">
        <mat-label>Tipo de Contrato</mat-label>
        <mat-icon matPrefix>description</mat-icon>
        <mat-select formControlName="tipoContratoId">
          <mat-option
            *ngFor="let contrato of tipoContratoId"
            [value]="contrato.Id"
          >
            {{ contrato.Nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md-6 col-lg-4" appearance="outline">
        <mat-label>Tipo de Persona</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <mat-select formControlName="tipoPersona">
          <mat-option
            *ngFor="let tipoPersona of tipoPersona"
            [value]="tipoPersona.Id"
          >
            {{ tipoPersona.Nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-12 col-md-6 col-lg-4" appearance="outline">
        <mat-label>Número de Elaboración</mat-label>
        <mat-icon matPrefix>edit</mat-icon>
        <input matInput formControlName="numeroElaboracion" />
      </mat-form-field>

      <mat-form-field class="col-12 col-md-6 col-lg-4" appearance="outline">
        <mat-label>Número de Contrato</mat-label>
        <mat-icon matPrefix>assignment</mat-icon>
        <input matInput formControlName="numeroContrato" />
      </mat-form-field>

      <mat-form-field class="col-12 col-md-6 col-lg-4" appearance="outline">
        <mat-label>Contratista</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput formControlName="contratista" />
      </mat-form-field>

      <mat-form-field class="col-12 col-md-6 col-lg-4" appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-icon matPrefix>check_circle</mat-icon>
        <mat-select formControlName="estado">
          <mat-option *ngFor="let estado of estado" [value]="estado.Id">
            {{ estado.Nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 col-md-6 col-lg-6" appearance="outline">
        <mat-label>Desde</mat-label>
        <input
          matInput
          [matDatepicker]="pickerDesde"
          formControlName="fechaDesde"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerDesde"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerDesde></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col-12 col-md-6 col-lg-6" appearance="outline">
        <mat-label>Hasta</mat-label>
        <input
          matInput
          [matDatepicker]="pickerHasta"
          formControlName="fechaHasta"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerHasta"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerHasta></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="d-grid d-md-flex justify-content-md-end" style="gap: 10px">
      <button
        mat-stroked-button
        color="primary"
        (click)="limpiarFiltros()"
        class="width-100-md"
      >
        <mat-icon>cleaning_services</mat-icon>
        Limpiar filtros
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="consultar()"
        class="width-100-md"
      >
        {{ isLoading ? "Consultando..." : "Consultar" }}
        <mat-icon>update</mat-icon>
      </button>
    </div>
  </form>

  <div class="mt-4 table-container rounded-table table-scroll">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="vigencia">
        <th mat-header-cell *matHeaderCellDef><b>Vigencia</b></th>
        <td mat-cell *matCellDef="let row">{{ row.vigencia ?? "N/A" }}</td>
      </ng-container>

      <ng-container matColumnDef="tipoContratoId">
        <th mat-header-cell *matHeaderCellDef><b>Tipo de Contrato</b></th>
        <td mat-cell *matCellDef="let row">
          {{ row.tipoContratoId ?? "N/A" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="tipo_persona">
        <th mat-header-cell *matHeaderCellDef><b>Tipo de Persona</b></th>
        <td mat-cell *matCellDef="let row">
          {{ row.contratista?.tipo_persona_id ?? "N/A" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="numero_contrato">
        <th mat-header-cell *matHeaderCellDef><b>Número de Contrato</b></th>
        <td mat-cell *matCellDef="let row">{{ row.id ?? "N/A" }}</td>
      </ng-container>

      <ng-container matColumnDef="contratista">
        <th mat-header-cell *matHeaderCellDef><b>Contratista</b></th>
        <td mat-cell *matCellDef="let row">
          {{ row.contratista?.nombre ?? "N/A" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fecha_registro">
        <th mat-header-cell *matHeaderCellDef><b>Fecha de Registro</b></th>
        <td mat-cell *matCellDef="let row">
          {{
            row.fechaCreacion
              ? (row.fechaCreacion | date : "yyyy-MM-dd")
              : "N/A"
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="fecha_aprobado">
        <th mat-header-cell *matHeaderCellDef><b>Fecha de Aprobación</b></th>
        <td mat-cell *matCellDef="let row">
          {{
            row.fecha_aprobado
              ? (row.fecha_aprobado | date : "yyyy-MM-dd")
              : "N/A"
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef><b>Estado</b></th>
        <td mat-cell *matCellDef="let row">
          {{ row.estados?.estado_parametro_id ?? "N/A" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef><b>Acciones</b></th>
        <td mat-cell *matCellDef="let row">
          <ng-container
            *ngIf="getAccionesPorRolYEstado(row) as accionesPorRolYEstado"
          >
            <ng-container *ngIf="accionesPorRolYEstado.length > 0">
              <button
                mat-icon-button
                color="primary"
                [matMenuTriggerFor]="menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="acciones">
                <button
                  mat-menu-item
                  *ngFor="let accion of accionesPorRolYEstado"
                  (click)="realizarAccion(row, accion)"
                >
                  <mat-icon class="icon">{{ getIconoAccion(accion) }}</mat-icon>
                  <span>{{ accion }}</span>
                </button>
              </mat-menu>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="totalRegistros"
      [pageSize]="tamanioPagina"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [showFirstLastButtons]="true"
      (page)="cambiarPagina($event)"
      aria-label="Seleccionar página"
    >
    </mat-paginator>
  </div>
</ng-template>
