<form [formGroup]="firstFormGroup">
    <div class="form-grid2">
        <mat-form-field>
            <mat-label>Tipo de Compromiso:</mat-label>
            <mat-select formControlName="tipoCompromiso">
                <mat-option *ngFor="let compromiso of compromisos" [value]="compromiso.value">
                    {{compromiso.Nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo de Contrato:</mat-label>
            <mat-select formControlName="tipoContrato">
                <mat-option *ngFor="let contrato of contratos" [value]="contrato.value">
                    {{contrato.Nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Perfil del Contratista:</mat-label>
            <mat-select formControlName="perfilContratista">
                <mat-option *ngFor="let perfil_contratista of perfil_contratista" [value]="perfil_contratista.value">
                      {{perfil_contratista.Nombre}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fecha Suscripción Estudios y Documentos Previos:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaSuscripcion">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Aplica Póliza:</mat-label>
            <mat-select formControlName="aplicaPoliza">
                <mat-option *ngFor="let aplica_poliza of aplica_poliza" [value]="aplica_poliza.value">
                      {{aplica_poliza.viewValue}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Modalidad de Selección:</mat-label>
            <mat-select formControlName="modalidadSeleccion">
                <mat-option *ngFor="let modalidad_seleccion of modalidad_seleccion" [value]="modalidad_seleccion.value">
                      {{modalidad_seleccion.Nombre}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipología Espécifica (CGR):</mat-label>
            <mat-select formControlName="tipologiaEspecifica">
                <mat-option *ngFor="let tipologia_especifica of tipologia_especifica" [value]="tipologia_especifica.value">
                      {{tipologia_especifica.Nombre}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Régimen de Contratación:</mat-label>
            <mat-select formControlName="regimenContratacion">
                <mat-option *ngFor="let regimen_contratacion of regimen_contratacion" [value]="regimen_contratacion.value">
                      {{regimen_contratacion.Nombre}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Procedimiento:</mat-label>
            <mat-select formControlName="procedimiento">
                <mat-option *ngFor="let procedimiento of procedimiento" [value]="procedimiento.value">
                      {{procedimiento.Nombre}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Plazo Ejecución:</mat-label>
            <input matInput formControlName="plazoEjecucion">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Unidad de Ejecución:</mat-label>
            <mat-select formControlName="unidadEjecucion">
                <mat-option *ngFor="let unidad_ejecucion of unidad_ejecucion" [value]="unidad_ejecucion.value">
                      {{unidad_ejecucion.Nombre}}
                    </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="btn-container">
            <button mat-raised-button matStepperNext color="primary">Siguiente</button>
        </div>
    </div>
</form>