<div appInView (inView)="onInView($event)">
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      <p>Cargando...</p>
    </div>
  </div>

  <form [formGroup]="formInfoGeneral" *ngIf="!isLoading && loadedData">
    <div class="border">
      <div class="title">
        <h3>Información General</h3>
      </div>
      <div class="form-grid2">

        <app-searchable-select
          label="Tipo de Compromiso"
          [items]="tiposCompromisos"
          [control]="formInfoGeneral.get('tipoCompromisoId')"
          [required]="true">
        </app-searchable-select>

        <app-searchable-select
          label="Tipo de Contrato"
          [items]="tiposContratos"
          [control]="formInfoGeneral.get('tipoContratoId')"
          [required]="true">
        </app-searchable-select>

        <ng-container *ngIf="showContratoFields">
          <mat-form-field *ngIf="formInfoGeneral.get('perfilContratistaId')?.enabled">
            <mat-label>Perfil del Contratista:</mat-label>
            <mat-select formControlName="perfilContratistaId">
              <mat-option *ngFor="let perfil_contratista of perfilesContratista"
                          [value]="perfil_contratista.Id">
                {{perfil_contratista.Nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="formInfoGeneral.get('fechaSuscripcionEstudios')?.enabled">
            <mat-label>Fecha Suscripción Estudios y Documentos Previos:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaSuscripcionEstudios" [max]="maxDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field *ngIf="formInfoGeneral.get('aplicaPoliza')?.enabled">
            <mat-label>Aplica Póliza:</mat-label>
            <mat-select formControlName="aplicaPoliza">
              <mat-option *ngFor="let aplica_poliza of aplicaPoliza" [value]="aplica_poliza.value">
                {{aplica_poliza.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="showConvenioFields">
          <mat-form-field>
            <mat-label>Vigencia de Convenio:</mat-label>
            <mat-select formControlName="vigenciaConvenio">
              <mat-option *ngFor="let vigencia_convenio of vigenciasConvenio" [value]="vigencia_convenio.Id">
                {{vigencia_convenio.Nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Convenio:</mat-label>
            <mat-select formControlName="convenio">
              <mat-option *ngFor="let convenio of convenios" [value]="convenio.Id">
                {{convenio.Nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre Convenio:</mat-label>
            <input matInput formControlName="nombreConvenio">
          </mat-form-field>
        </ng-container>

        <app-searchable-select
          label="Modalidad de Selección"
          [items]="modalidadesSeleccion"
          [control]="formInfoGeneral.get('modalidadSeleccionId')"
          [required]="true">
        </app-searchable-select>

        <app-searchable-select
          label="Tipología Espécifica (CGR)"
          [items]="tipologiasEspecificas"
          [control]="formInfoGeneral.get('tipologiaEspecificaId')"
          [required]="true">
        </app-searchable-select>

        <app-searchable-select
          label="Régimen de Contratación"
          [items]="regimenesContratacion"
          [control]="formInfoGeneral.get('regimenContratacionId')"
          [required]="true">
        </app-searchable-select>

        <app-searchable-select
          label="Procedimiento"
          [items]="procedimientos"
          [control]="formInfoGeneral.get('procedimientoId')"
          [required]="true">
        </app-searchable-select>

        <mat-form-field>
          <mat-label>Plazo Ejecución:</mat-label>
          <input matInput formControlName="plazoEjecucion" (keydown)="validateOnlyNumbers($event)">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Unidad de Ejecución:</mat-label>
          <mat-select formControlName="unidadEjecutoraId">
            <mat-option *ngFor="let unidad_ejecucion of unidadesEjecucion" [value]="unidad_ejecucion.Id">
              {{unidad_ejecucion.Nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="btn-container">
      <button mat-raised-button *ngIf="!viewMode" (click)="guardarYContinuar()" color="primary" [disabled]="!formInfoGeneral.valid || isLoading">
        Guardar y Continuar
      </button>
    </div>
  </form>
</div>
