.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  margin: 15px 0;
}

.full-width-field {
  width: 100%;
  margin-top: 10px;
}

.title-box {
  background-color: rgb(100, 21, 21);
  color: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.form-grid1 {
  padding: 0 2%;
}

.mat-column-item {
  flex: 0 0 10%;
}

.mat-column-descripcion {
  flex: 0 0 25%;
}

.edit-icon {
  color: rgb(100, 21, 21) !important;
}

.delete-icon {
  color: gray !important;
}

.full-width-table {
  width: 100%;
  min-width: 800px;
}

.mat-elevation-z4 {
  height: 300px;
  overflow: auto;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  display: flex;
  justify-content: center;
}

.mat-mdc-row .mat-column-descripcion {
  justify-content: flex-start;
}
