<div class="d-flex align-items-center fondo-acento-50 mb-4 mt-lg">
  <div>
    <mat-icon>folder</mat-icon>
  </div>
  <div class="mx-3">
    <h2>Documentos Contratista</h2>
    Documentación requerida
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="border mt-4">
    <div class="full-width-field">
      <p>Sube el documento compendio del Contratista aquí:</p>
      <div class="file-upload-container">
        <div class="file-input-wrapper">
          <input
            type="text"
            [value]="
              pdfFile
                ? pdfFile.name +
                  ' (' +
                  (pdfFile.size / 1024 / 1024).toFixed(2) +
                  ' MB)'
                : 'Ningún archivo seleccionado'
            "
            class="file-name-input"
            readonly
            aria-label="Nombre del archivo seleccionado"
          />
          <button
            type="button"
            mat-raised-button
            color="primary"
            class="file-upload-button"
            (click)="fileInput.click()"
          >
            <mat-icon>upload</mat-icon>
            <span>Seleccionar PDF</span>
          </button>
        </div>
        <input
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          accept=".pdf"
          style="display: none"
        />
      </div>
      <p *ngIf="errorMessage" class="error-message">
        <mat-icon>error</mat-icon>
        <span>{{ errorMessage }}</span>
      </p>
    </div>
    <div class="btn-container">
      <button
        mat-stroked-button
        style="border: 1px solid var(--md-primary-500)"
        color="primary"
        matStepperPrevious
      >
        <mat-icon>arrow_back</mat-icon>
        Volver
      </button>
      <button
        mat-stroked-button
        style="
          border: 1px solid var(--md-primary-500);
          background-color: var(--md-primary-50);
        "
        color="primary"
        (click)="openPdfViewer()"
        [disabled]="!pdfFile"
      >
        Ver
        <mat-icon>visibility</mat-icon>
      </button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!form.valid || !pdfFile"
      >
        <mat-icon>save</mat-icon>
        Guardar y Registrar
      </button>
    </div>
  </div>
</form>
