<div appInView (inView)="onInView($event)">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center fondo-acento-50 mb-4">
        <div>
          <mat-icon>checklist</mat-icon>
        </div>
        <div class="mx-3">
          <h2>Obligaciones del contrato</h2>
          Obligaciones contractuales
        </div>
      </div>
      <form [formGroup]="form">
        <div class="border">
          <div class="full-width-field">
            <div class="title-box">Justificación:</div>
            <ng-container *ngIf="!hasSingleCDP">
              <app-cdp-list
                [cdpData]="cdpData"
                tipo="justificacion"
              ></app-cdp-list>
            </ng-container>
            <app-editor-enriquecido
              formControlName="justificacion"
              [placeholder]="
                hasSingleCDP
                  ? 'Justificación del contrato'
                  : 'Ingresa la justificación del contrato.'
              "
            ></app-editor-enriquecido>
          </div>

          <div class="full-width-field">
            <div class="title-box">Objeto del Contrato:</div>
            <ng-container *ngIf="!hasSingleCDP">
              <app-cdp-list
                [cdpData]="cdpData"
                tipo="descripcion"
              ></app-cdp-list>
            </ng-container>
            <app-editor-enriquecido
              formControlName="objetoContrato"
              [placeholder]="
                hasSingleCDP
                  ? 'Objeto del contrato'
                  : 'Ingresa el objeto del contrato.'
              "
            ></app-editor-enriquecido>
          </div>

          <div class="full-width-field">
            <div class="title-box">Actividades:</div>
            <ng-container *ngIf="!hasSingleCDP">
              <app-cdp-list
                [cdpData]="cdpData"
                tipo="observaciones"
              ></app-cdp-list>
            </ng-container>
            <app-editor-enriquecido
              formControlName="actividades"
              [placeholder]="
                hasSingleCDP
                  ? 'Actividades relacionadas al contrato'
                  : 'Ingresa las actividades relacionadas al contrato.'
              "
            ></app-editor-enriquecido>
          </div>

          <div class="btn-container">
            <button
              mat-stroked-button
              style="border: 1px solid var(--md-primary-500)"
              color="primary"
              matStepperPrevious
            >
              <mat-icon>arrow_back</mat-icon>
              Volver
            </button>
            <button
              mat-raised-button
              matStepperNext
              color="primary"
              [disabled]="form.invalid"
            >
              <mat-icon>save</mat-icon>
              Guardar y Continuar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
